.topbar {
  height: 40px;
  background-color: #ffffff;
  padding-top: 5px;

  .topbar-links {
    padding: 0;
  }

  .nav-item {
    @include font-size(1.6);
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    a {
      &:link, &:visited {
        color: #666666;
        font-weight: 100;
        text-decoration: none;
      }
    }
  }
}
