.card {
  width: 450px;
  &-title {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
  }
  &-body {
    background-color: $color-white;
  }
}

.card-white {
  background-color: $color-white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 30px;
  width: 165px;
  height: 165px;
}

.card-white-wine {
  background-color: $color-white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 30px;
  width: 262px;
  height: 255.5px;
}