html {
  -webkit-tap-highlight-color: transparent;
}

.doc-table {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  font-size: 1.4em;
  line-height: 1.42857;

}
.text-wrap {
  word-wrap: break-word;
  white-space: normal;
}

.faq-questions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-item {

  .accordion-title {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 40px;
    cursor: pointer;
    display: flex;
    &.open {
      border-bottom-color: #D02045;
    }

    .action {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #d02045;
      font-weight: 100;
      text-decoration: none;
      &.open {
        &:hover, &:focus, &:active {
          text-decoration: none;
        }

      }
    }
  }
  .accordion-content {
    display: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: #9D9D99;
    margin-bottom: 20px;
    &.open {
      display: block;
    }
  }
}




