.images {
  width: 100%;
  display: flex;
  justify-content: center;

  .plans-delivery {
    width: 50%;
    display: flex;
    align-items: flex-start;
  }

  .image-products {
    width: 50%;
    display: flex;
    align-items: flex-end;

  }
}