.login {
  background: url("assets/images/wine_bkg.png") no-repeat;
  background-size: 100vw auto;
  height: 100vh;
  &-logo {
    width: 238px;
  }
  &-form {
    width: 560px;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    position: absolute;
    margin-left: -280px;
    z-index: 2;

    label {
      color: $color-sunglow;
      &.error {
        color: $color-carnation;
      }
    }

    #username, #password {

      font-family: Roboto, sans-serif;
      font-size: 1.6rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;

      background: none;
      border: none;
      border-bottom: 1px solid $color-white;

      &.error {
        border-bottom: 1px solid $color-carnation;
        transition: all 0.3s;
        &:focus {
          outline: none;
          box-shadow: 0 1px 0 0 $color-carnation;
          transition: all 0.3s;
        }
      }

      color: #fff;
      transition: all 0.3s;
      &:focus {
        outline: none;
        box-shadow: 0 1px 0 0 #fff;
        transition: all 0.3s;
      }
    }
  }
  &-bkg {
    position: absolute;
    width: 560px;
    height: 385px;
    top: 232px;
    left: calc(50% - 280px);
    background: url("assets/images/wine_bkg.png") no-repeat;
    background-size: 100vw auto;
    background-position-x: 50%;
    background-position-y: -232px;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }



}