.c-black {
  color: $color-black;
}

.c-mine-shaft {
  color: $color-mine-shaft;
}

.c-dove-gray {
  color: $color-dove-gray;
}

.c-dusty-gray {
  color: $color-dusty-gray;
}

.c-silver-chalice {
  color: $color-silver-chalice;
}

.c-nobel {
  color: $color-nobel;
}

.c-white {
  color: $color-white;
}

.c-sunglow {
  color: $color-sunglow;
}

.c-tangerine {
  color: $color-tangerine;
}

.c-alto {
  color: $color-alto;
}

.c-atlantis {
  color: $color-atlantis;
}

.c-maroon-flush {
  color: $color-maroon-flush;
}

.c-bitter {
  color: $color-bitter;
}

.c-pewter {
  color: $color-pewter;
}

.c-cardinal {
  color: $color-cardinal;
}